name: Release lib-version

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Get version from Git tag
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}  # Get version from the Git tag, e.g., v1.0.0
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Update pom.xml version
        run: mvn versions:set -DnewVersion=$VERSION  

      - name: Build and deploy to GitHub Packages
        run: mvn deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
